<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <hr>
    <a href="/dashboard/whoAmI">Who am I?</a>
    <hr>
    <a href="/dashboard/modifyInformation">Modify Information</a>
    <hr>
    <a href="/dashboard/logout">Logout</a>
    <hr>
</div>